<%= form_with model: @plant, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :amount_of_sun %>
    <%= form.number_field :amount_of_sun %>
  </div>
  <div>
    <%= form.label :days_to_water %>
    <%= form.number_field :days_to_water %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>